<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">

</div>

<div class="nav">

	<ul>

		<li class="home">
			<a href="#">Home</a>
		</li>

		<li class="tutorials">
			<a href="/filmes">Filmes</a>
		</li>

		<li class="Categorias">
			<a href="/categorias">Categorias</a>
		</li>

		<li class="news">
			<a href="#">Newsletter</a>
		</li>

		<li class="contact">
			<a href="#">Contact</a>
		</li>

	</ul>

</div>

<div class="container">

	<router-outlet></router-outlet>

</div>